.nav-menu
  // border-bottom: 1px solid #f2f2f2
  position: relative
  width: 100%
  background-color: #fff
  z-index: 1001
  margin-bottom: -60px
  transition: .5s
  height: 60px

.nav-menu li.list
  display: inline-block
  padding: 5px
  margin-left: 35px
  height: 47px

button.menu-btn
  margin-top: 6px
  border: none !important


.nav-menu h6
  text-align: center
  padding-top: 15px
  font-size: 16px

.nav-menu .btn
  position: absolute
  right: 30px
  margin-top: 7px
  display: inline-block
  padding: 5px
  height: 47px

.nav-menu .btn button
  border-radius: 25px
  border: 1px solid rgba(33, 33, 33, 0.1)
  transition: .3s

.btn-border-change
  border: 1px solid rgba(33, 33, 33, 0.5) !important
  transition: .3s

.fixed-nav
  position: fixed
  top: 0
  width: 100%
  box-shadow: 0px 1px 15px rgba(33, 33, 33, 0.2)
  transition: .5s


// Content Styles below NYC Parallax


.item-display
  figure
    position: relative
    opacity: 0
    transform: translateX(20px)
    transition: all 0.4s ease-in-out
    margin-bottom: 50px
    overflow: hidden

    &.launchX
      opacity: 1
      transform: translateX(0px)

    img
      display: block
      transform: scale(1)
      transition: all 0.3s ease-in-out

    &:hover
      figcaption
        left: 0%
      img
        transform: scale(1.05)

  figcaption
    position: absolute
    bottom: 0px
    left: -100%
    background: rgba(26,26,26,0.8)
    color: #fff
    padding: 2px 8px
    transition: all 0.3s ease-in-out



.telescope-display-1
  margin-top: 50px
  height: 350px
  background:
    size: 100%
    image: url(/images/pizza-special.png)
    position: center 0px
    repeat: repeat-y
    attachment: fixed
  position: relative

  .telescope-tint
    background-color: rgba(0,0,0,0.5)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center

  .promo-text
    color: #fff
    font-size: 40px

    strong
      display: block

  .window-cta
    font-size: 20px
    text-decoration: none
    color: #fff
    border: 1px solid #FFF
    border-radius: 2px
    padding: 10px 25px
    transition: .3s

    &:hover
      background-color: rgba(255,255,255, 0.95)
      color: #282828
      transition: .3s

.telescope-display-2
  margin-top: 50px
  height: 450px
  background:
    size: 100%
    image: url(/images/pizza.jpg)
    position: center 0px
    repeat: repeat-y
    attachment: fixed

.telescope-display-3
  margin-top: 50px
  height: 450px
  background:
    size: 100%
    image: url(/images/coffee.jpg)
    position: center 0px
    repeat: repeat-y
    attachment: fixed


// Recent Order Section

.title
  margin-top: 50px
  color: #262626

.recent-orders-1
  margin-top: 60px
  .order
    border: 1px solid #e1e1e1
    border-radius: 20px
    padding: 20px 20px 0px 20px
    background-color: #fff
    position: relative
    img
      border-radius: 20px

  .order-1, .order-3
    margin-top: 50px

  .order-1
    transform: translate(100px, 20px)

  .order-2
    z-index: 2

  .order-3
    transform: translate(-100px, 20px)

.recent-orders-2
  margin-top: 20px
  .order
    opacity: 0
    transform: translateY(20px)
    border: 1px solid #e1e1e1
    border-radius: 20px
    padding: 20px 20px 0px 20px
    background-color: #fff
    position: relative
    transition: all 0.4s ease-in-out
    img
      border-radius: 20px

    &.launchY
      opacity: 1
      transform: translateX(0px)
  .order-4, .order-6
    margin-top: 20px

  .order-5
    margin-top: -50px

.recent-orders-3
  margin-top: 0px
  .order
    border: 1px solid #e1e1e1
    border-radius: 20px
    padding: 20px 20px 0px 20px
    background-color: #fff
    position: relative
    transform: translateY(20px)
    opacity: 0
    transition: all 0.4s ease-in-out
    img
      border-radius: 20px
    &.launchY
      opacity: 1
      transform: translateY(0px)

  .order-7, .order-9
    margin-top: 20px

  .order-8
    margin-top: -50px


// Footer Styles

footer
  background: #262626
  color: #fff
  padding: 40px

  .footer-content
    max-width: 1000px
    margin: 0 auto
  a
    color: #FFF
    text-decoration: none
