doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallax and Landing Elements
    link(rel="stylesheet" href="css/style.css")
    
  body
  
    header.nyc-box
      .layer-5
      .layer-4
      .layer-3
      .layer-2
      .layer-1
    
    section.content
    
      article
        
        h1 Discover the Big Apple
        
        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia$

        hr
        

  script(src="js/jquery-2.1.3.min.js")
  script(src="js/functions.js")
    
