doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallax and Landing Elements
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
  
  body 
  
    header.nyc-scape 
      .layer-6
      .layer-5
      .layer-4
      .layer-3
      .layer-2
      .logo
      .layer-1
    
  
    section.content
      
      article
    
        h1 Welcome to the Big Apple.
        
        hr
        
        p Heirloom selvage hashtag PBRB. Letterpress hashtag lyft freegan, aesthetic keffiyeh tousled vice bespoke biodiesel austin normcore schlitz. Artisan jianbing copper mug chambray subway tile, aesthetic lo-fi bicycle rights cornhole freegan. 
        
    div(style="height: 2000px")
    
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
