doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallax and Landing Elements
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:100i,300,400,600,700")
  
  body.home-body 
  
    header.nyc-scape 
      .layer-6
      .layer-5
      .layer-4
      .layer-3
      .layer-2
      .logo
      .layer-1
      
    .row.nav-menu
      ul
        li.list
          h6 Menu
        li.list
          h6 Chef's Pick  
        li.btn
          button Track My Order
  
    section.content
      
      article
    
        h1.subtitle Eat Fresh in the Big Apple.
        
        hr
        
        p.intro Be a part of the greatest city on Earth! Discover the 4 districts of New York and choose a location on the map of where you'd like to visit! There is a never-ending supply of mind-blowing arcitecture, events and experiences that'll take you by storm in this wonderous and picture-perfect city.
        
        .item-display
          .row.image-row
            figure.columns.four
              img(src="/images/marg.png")
              figcaption Brooklyn Burgers - from <strong>$11</strong>
              
            figure.columns.four
              img(src="/images/grandma.png")
              figcaption Brooklyn Oven - from <strong>$4</strong>
              
            figure.columns.four
              img(src="/images/best.png")
              figcaption Fresh Ground Coffee - from <strong>$3</strong>
          
          h3.subtitle.specials Our World Famous Pie
        
        .telescope-display-1
          .telescope-tint
            .promo-text The Ricotta & White Clam Pie
              strong from $17
              a(href="#").window-cta Order
        
        h1.title Recent Orders
        
        hr
        
        .recent-orders-1.row
          
          .order.columns.four.order-1
            h5 Order Title
            img(src="/images/best.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
          
          .order.columns.four.order-2
            h5 Order Title
            img(src="/images/clam.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
        
          .order.columns.four.order-3
            h5 Order Title
            img(src="/images/best.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
    
        .recent-orders-2.row
          
          .order.columns.four.order-4
            h5 Order Title
            img(src="/images/best.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
          
          .order.columns.four.order-5
            h5 Order Title
            img(src="/images/clam.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
        
          .order.columns.four.order-6
            h5 Order Title
            img(src="/images/best.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!

        .recent-orders-3.row
          
          .order.columns.four.order-7
            h5 Order Title
            img(src="/images/best.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
          
          .order.columns.four.order-8
            h5 Order Title
            img(src="/images/clam.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
        
          .order.columns.four.order-9
            h5 Order Title
            img(src="/images/best.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p: a.button(href="") Order Me This!
        
    div(style="height: 2000px")
    
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
    script(src="/js/onload.js")
    script(src="/js/stickyNav.js")
