doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallax and Landing Elements
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:100i,300,400,600,700")
  
  body 
  
    header.nyc-scape 
      .layer-6
      .layer-5
      .layer-4
      .layer-3
      .layer-2
      .logo
      .layer-1
  
    section.content
      
      article
    
        h1.subtitle Eat Fresh in the Big Apple.
        
        hr
        
        p.intro Be a part of the greatest city on Earth! Discover the 4 districts of New York and choose a location on the map of where you'd like to visit! There is a never-ending supply of mind-blowing arcitecture, events and experiences that'll take you by storm in this wonderous and picture-perfect city.
        
        .item-display
          .row.image-row
            figure.columns.four
              img(src="/images/burger.jpg")
            figure.columns.four
              img(src="/images/pizza.jpg")
            figure.columns.four
              img(src="/images/coffee.jpg")
        
    div(style="height: 2000px")
    
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
    script(src="/js/onload.js")
